NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_SITE_CONTENT_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_SITE_CONTENT_DOCUMENT_ID=smart-ro
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_SITE_CONTENT_COLLECTION_ID=
APPWRITE_SITE_CONTENT_DOCUMENT_ID=smart-ro
APPWRITE_ADMIN_EMAIL=
APPWRITE_ADMIN_PASSWORD=
